name: Renovate

on:
  schedule:
    - cron: "0 */6 * * *" # every 6 hours
  workflow_dispatch: {}

concurrency:
  group: renovate
  cancel-in-progress: false

permissions:
  contents: read

jobs:
  renovate:
    runs-on: arc-runner-set
    steps:
      - uses: actions/checkout@v4

      - uses: actions/create-github-app-token@v2.2.1
        id: app-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - uses: renovatebot/github-action@v46.0.1
        with:
          token: ${{ steps.app-token.outputs.token }}
        env:
          LOG_LEVEL: info
