name: Renovate

on:
  schedule:
    - cron: "0 */6 * * *" # every 6 hours
  workflow_dispatch: {}

concurrency:
  group: renovate
  cancel-in-progress: false

permissions:
  contents: read

jobs:
  renovate:
    runs-on: arc-runner-set
    steps:
      - uses: actions/checkout@v4

      - uses: renovatebot/github-action@v46.0.1
        with:
          token: ${{ secrets.RENOVATE_TOKEN }}
        env:
          LOG_LEVEL: info
